{{ define "main" }}

      <h2 class="text-2xl pt-2">{{ .Title }}</h2>

      {{ with .Params.portioner }}
      <p>
        <span class="font-bold">Portioner: </span><span>{{ . }}</span>
      </p>
      {{ end }}

      {{ with .Params.tid }}
      <p>
        <span class="font-bold">Tid: </span><span>{{ . }} minuter</span>        
      </p>
      {{ end }}

      {{ if isset .Params "frånurl" }}
      <p><span class="font-bold">Från: </span><a class="underline" href="{{ .Params.frånurl }}">{{ .Params.från }}</a></p>
      {{ else if isset .Params "från" }}
      <p><span class="font-bold">Från: </span> {{ .Params.från }}</h4>
      {{ end }}

      <p>
        {{ with .Params.ingredienser }}
        <h3 class="text-xl font-bold pt-2">Ingredienser</h3>
        <ul class="list-disc list-inside">
          {{ range . }}
          <li>
            {{ with ( . | markdownify) }}{{ . }}{{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </p>

        <h3 class="text-xl font-bold pt-2">Gör så här</h4>
        <ul class="list-disc list-inside">
          {{ range .Params.steg }}
          <li>
            {{ with ( . | markdownify) }}{{ . }}{{ end }}</li>
          {{ end }}
        </ul>
{{ end }}